<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>	File Upload app</title>
	
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">




</head>
<body>
    <div class="container">
     <h1> File upload</h1>
     <%= typeof msg != 'undefined' ? msg:''  %>
     <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn grey">
            <span>File</span>
            <input name = "myImage" type="file">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>
    <input type="submit" class="btn" value="submit">
</form>
<br>
<video src=" <%= typeof file != 'undefined' ? file :''  %> "></video>
</div>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

</body>
</html>